Repository stacks-network/sbtc, pull requests merged in 2023-10, with the labels that each got.

#208 devenv: misc fixes
  devenv/bitcoin-explorer/docker-compose-bitcoin-explorer.yml
  devenv/docker-compose.yml
Labels: devenv

#184 [sBTC DR] Add test for txid
  romeo/src/proof_data.rs
Labels: alpha-romeo

#212 gh/workflows: pr: add devenv build test
  .github/workflows/pull-request.yml
Labels: devenv

#192 Propagate error when an error field is present in the request response.
  romeo/src/stacks_client.rs
Labels: alpha-romeo, devenv

#185 [sBTC DR] filter by sBTC wallet address
  romeo/src/config.rs
  romeo/src/state.rs
Labels: alpha-romeo

#194 [sBTC DR] Add testnet deployment plan
  romeo/asset-contract/deployments/default.testnet-plan.yaml
Labels: alpha-romeo

#223 devenv: sbtc: bitcoin_node_url use RPC interface
  devenv/sbtc/docker/config.json
Labels: bug

#186 [sBTC DR] Handle rejected stx txs
  romeo/src/state.rs
Labels: alpha-romeo

#229 utils: use container based cli
  devenv/sbtc/bin/sbtc
  devenv/utils/deposit.sh
  devenv/utils/get_credentials.sh
  devenv/utils/mine_btc.sh
  devenv/utils/withdraw.sh
Labels: devenv

#240 [sBTC DR] Remove tree depth from burn and mint
  romeo/asset-contract/contracts/asset.clar
  romeo/asset-contract/contracts/clarity-bitcoin-mini-deploy.clar
  romeo/asset-contract/contracts/clarity-bitcoin-mini.clar
  romeo/asset-contract/tests/asset_BurnCommand.ts
  romeo/asset-contract/tests/asset_MintCommand.ts
  romeo/asset-contract/tests/asset_test.clar
  romeo/asset-contract/tests/clarity-bitcoin-mini_test.clar
  romeo/src/proof_data.rs
  romeo/src/system.rs
Labels: alpha-romeo

#243 bitcoin-explorer: drop project in favor of mempool
  devenv/README.md
  devenv/bitcoin-explorer/build.sh
  devenv/bitcoin-explorer/docker-compose-bitcoin-explorer.yml
  devenv/bitcoin-explorer/docker/Dockerfile
  devenv/bitcoin-explorer/docker/entrypoint.sh
  devenv/bitcoin-explorer/down.sh
  devenv/bitcoin-explorer/up.sh
  devenv/docker-compose.yml
Labels: devenv

#298 Reintroduce alpine to the sbtc service.
  devenv/sbtc/docker/Dockerfile
  devenv/sbtc/docker/entrypoint
  devenv/up.sh
Labels: enhancement, devenv
